nav { 
  position: fixed; 
  top: 0px; 
  left: 0; 
  background-color: #00a087; 
  height: 80px; 
  width: 100%; 
  color: #e8fdff; 
  padding-left: 2em; 
  padding-right: 2em; 
  z-index: 100; 
}

#nav-bar .logo { 
  height: 80px;
  padding-right: 10px; 
  float: left; 
}

#nav-bar .header {
  font-size: 200%;
  line-height: 80px;
  float: left;
}

#compose {
  float: right;
  position: fixed;
  right: -150px;
  padding-right: 10em;
  padding-top: 5px;
  height: 70px;
  opacity: 0.7;
}

#compose:hover {
  opacity: 0.85;
}

#compose:active {
  opacity: 1;
}
